*{
    margin:0;
    padding:0;
    border:none;
}
a{
    text-decoration:none;
    color:#000;
}
ul,ol{
    list-style:none;
}
body{
    /* background:#c9af7c; */
}
.section{perspective:1000px;}
.s1{
    overflow: hidden;
}
.welcome,.myweb{
    text-align:center;
    opacity: 0;
    position: absolute;
    left: 50%;
    margin-left:-400px;
    bottom:300px;
}
.self{
    width:600px;
    height:300px;
    padding:15px;
    box-sizing: border-box;
    background:rgba(0,0,0,0.8);
    position:absolute;
    left:50%;
    margin-left:-600px;
    bottom:60px;
}
.cover,.cover2,.cover3{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
}
.cover *{
    width:20%;
    height:100%;
    background:#8dd1c2;
    float:left;
}
.cover .c1{
    margin-top:100%;
}
.cover .c2{
    margin-top:-100%;
}
.cover .c3{
    margin-top:100%;
}
.cover .c4{
    margin-top:-100%;
}
.cover .c5{
    margin-top:100%;
}
.word{
    position: absolute;
    left:0;
    width:0%;
    white-space:nowrap;
    bottom:300px;
    overflow: hidden;
    text-align: center;
}

.cover2 *{
    width:100%;
    height:20%;
    background:#d7b2ac;
}
.cover2 .c1{
    margin-left:100%;
}
.cover2 .c2{
    margin-left:-100%;
}
.cover2 .c3{
    margin-left:100%;
}
.cover2 .c4{
    margin-left:-100%;
}
.cover2 .c5{
    margin-left:100%;
}
.introduce{
    position: absolute;
    left:20%;
    bottom:200px;
    padding:10px;
    background:#fff;
    transform: translateZ(300px) rotateZ(0);
    opacity:0;
}
.author{
    width:500px;
    height:300px;
    position: absolute;
    left: 50%;
    bottom:200px;
}



.cover3 *{
    width:100%;
    height:20%;
    background:#cb9df7;
}
.cover3 .c1{
    margin-left:-100%;
}
.cover3 .c2{
    margin-left:-100%;
}
.cover3 .c3{
    margin-left:-100%;
}
.cover3 .c4{
    margin-left:-100%;
}
.cover3 .c5{
    margin-left:-100%;
}