.header .navBox {
  background: pink;
  text-align: center;
  margin-top: 0.586667rem;
}
.header .navBox .navBtn {
  display: inline-block;
  line-height: 1.386667rem;
  vertical-align: middle;
}
.header .navBox .navBtn .text {
  font-size: 0.853333rem;
}
.header .navBox .navBtn .icon {
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
}
.header .navBox .navBtn .icon-now {
  background: url(../images/icon_now@2x.png) no-repeat;
  background-size: 0.8rem 0.8rem;
}
.header .navBox .navBtn .icon-past {
  background: url(../images/icon_past@2x.png) no-repeat;
  background-size: 0.8rem 0.8rem;
}
