
.header{
	.navBox{
		background:pink;
		text-align: center;
		margin-top:0.586667rem;
		.navBtn{
			display: inline-block;
			line-height:1.386667rem;
			vertical-align: middle;
			.text{font-size:0.853333rem;}
			.icon{
				width:0.8rem;
				height:0.8rem;
				display: inline-block;
			}
			.icon-now{
				background: url(../images/icon_now@2x.png) no-repeat;
				background-size:0.8rem 0.8rem;
			}
			.icon-past{
				background: url(../images/icon_past@2x.png) no-repeat;
				background-size:0.8rem 0.8rem;
			}
		}
	}
}
.main{

}