
.header{
	.navBox{
		background:pink;
		text-align: center;
		margin-top:0.293333rem;
		.navBtn{
			display: inline-block;
			line-height:0.693333rem;
			vertical-align: middle;
			.text{font-size:0.426667rem;}
			.icon{
				width:0.4rem;
				height:0.4rem;
				display: inline-block;
			}
			.icon-now{
				background: url(../images/icon_now@2x.png) no-repeat;
				background-size:0.4rem 0.4rem;
			}
			.icon-past{
				background: url(../images/icon_past@2x.png) no-repeat;
				background-size:0.4rem 0.4rem;
			}
		}
	}
}
.main{

}