.header .navBox {
  overflow: hidden;
  padding-bottom: 0.32rem;
}
.header .navBox .btn1 {
  margin-left: 3.333333rem;
}
.header .navBox .btn2 {
  margin-left: 0.826667rem;
}
.header .navBox .navBtn.aciton {
  border-bottom: 0.053333rem solid #ff4646;
}
.header .navBox .navBtn {
  box-sizing: border-box;
  overflow: hidden;
  float: left;
  padding-bottom: 0.186667rem;
}
.header .navBox .navBtn .text {
  display: block;
  font-size: 0.426667rem;
  line-height: 0.426667rem;
  float: left;
  margin-top: 0.426667rem;
  margin-left: 0.133333rem;
}
.header .navBox .navBtn .font1 {
  color: #ff4646;
}
.header .navBox .navBtn .font2 {
  color: #333;
}
.header .navBox .navBtn .icon {
  width: 0.426667rem;
  height: 0.426667rem;
  margin-top: 0.426667rem;
  float: left;
}
.header .navBox .navBtn .icon-now {
  background: url(../images/icon_now@2x.png) no-repeat;
  background-size: 0.426667rem 0.426667rem;
}
.header .navBox .navBtn .icon-past {
  background: url(../images/icon_past@2x.png) no-repeat;
  background-size: 0.426667rem 0.426667rem;
}
.main {
  padding: 0 0.133333rem;
}
.main .list {
  overflow: hidden;
}
.main .list .views_item {
  width: 50%;
  float: left;
  padding: 0.266667rem 0.213333rem;
  box-sizing: border-box;
}
.main .list .views_item .goodsimg {
  width: 4.453333rem;
  height: 3.04rem;
  background-size: 4.453333rem 3.04rem;
}
.main .list .views_item .goodsname {
  line-height: 0.4rem;
  font-size: 0.4rem;
  color: #333;
  margin-top: 0.186667rem;
}
.main .list .views_item .price {
  font-size: 0.346667rem;
  line-height: 0.346667rem;
  margin-top: 0.106667rem;
  color: #999;
}
.main .list .views_item .buyBtn {
  display: inline-block;
  font-size: 0.293333rem;
  color: #fff;
  padding: 0.16rem 0.48rem;
  border-radius: 0.16rem;
  background: #ff4646;
  margin-top: 0.266667rem;
  margin-left: 1.493333rem;
}
